@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

html {
    scroll-behavior: smooth;
  }

main{
    height: 100vh;
    background-image: url;
}

body{
    background-color: rgb(255, 255, 255);
    background-image: url("./img/Vector.svg"), url("./img/feuilles.svg") ;
    object-fit: fill;
    background-repeat: no-repeat;
    background-position: right 20% ;
}

#main a:visited{
    color: black;
}

#main a:hover{
    color: blanchedalmond;
}

#welcome{
    font-family: "Alex Brush";
    font-size: 65px;
}

.nameGame{
    font-family: "Abril Fatface";
    font-size: 95px;
    margin-bottom: 50px;
}

#hi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 80px;
}

#cartouche{
    font-family: "Poppins";
    width: fit-content;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 2px 5px 40px  rgb(227, 252, 220);
    border-radius: 10px;
    transform: rotate(-4deg);
    line-height: 16px;
    background-color: rgb(255, 255, 255);
}

#cartouche p{
    padding: 10px;
}

#cartouche p:first-child{
    font-size: 25px;
    font-weight: 800;
}

#letsGo{
    transform: rotate(4deg);
    border: none;
    padding: 20px 30px;
    margin-top: 30px;
    margin-bottom: 20vh;
    box-shadow: 2px 5px 40px  rgb(227, 252, 220);
    border-radius: 10px;
    background-color:  #2aff71;
    
}

a{
    text-decoration: none;
} 

/* ------------------------------- LEVELS ----------------------- */

#levels{
    height: 100vh;
}

#levels a{
    color: black;
}

#levels a:visited{
    color: black;
}

#levels a:hover{
    color: rgb(42, 255, 113);
}

.plus{
 font-size: 30px;
 text-align: start;
 padding-left: 40px;
 padding-top: 20px;
}

.boxes{
    padding: 20px;
    box-shadow: 2px 5px 40px  rgb(230, 230, 230);
    width: 300px;
    margin: 20px;
    border-radius: 10px; 
}

.levels{
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    margin: auto 0;
    justify-content: center;
    
}

.boxes p {
    font-family: "Alex Brush";
    font-size: 30px;
}