@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}


main{
    height: 100vh;
    width: 100vw;
}

body{
    background-color: rgb(255, 255, 255);
    background-image: url("./img/Vector.svg"), url("./img/welcome.jpg") ;
    background-repeat: no-repeat;
    background-position: right 20%;
    background-size: cover;
}

#main a:visited{
    color: black;
}

#main a:hover{
    color: blanchedalmond;
}

#welcome{
    font-family: "Alex Brush";
    font-size: 65px;
}

.nameGame{
    font-family: "Abril Fatface";
    font-size: 95px;
    margin-bottom: 50px;
}

#hi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 70px;
}

#cartouche{
    font-family: "Poppins";
    width: fit-content;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 2px 5px 40px  rgb(227, 252, 220);
    border-radius: 10px;
    transform: rotate(-4deg);
    line-height: 16px;
    background-color: rgb(255, 255, 255);
}

#cartouche p{
    padding: 10px;
}

#cartouche p:first-child{
    font-size: 25px;
    font-weight: 800;
}

#letsGo{
    transform: rotate(4deg);
    border: none;
    padding: 20px 30px;
    margin-top: 30px;
    box-shadow: 2px 5px 40px  rgb(227, 252, 220);
    border-radius: 10px;
    background-color:  #2aff71;
    font-weight: 800;
    font-size: 30px;
}


a{
    text-decoration: none;
} 
